<div class="container">
    <h1>Detalle de una petición</h1>
    <a href="#" routerLink="/peticion/index" class="btn btn-primary">Back</a>
   
    <div class="col-md-9">

        <table class="table">
            <tr>
                <th>ID:</th>
                <td>{{ peticion.id}}</td>
            </tr>
            <tr>
                <th>Título:</th>
                <td>{{ peticion.titulo}}</td>
            </tr>
            <tr>
                <th>Descripción:</th>
                <td>{{ peticion.descripcion}}</td>
            </tr>
            <tr>
                <th>Firmantes:</th>
                <td>{{ peticion.firmantes}}</td>
            </tr>
            <tr>
                <th>Estado:</th>
                <td>{{ peticion.estado}}</td>
            </tr>
            <tr>
                <th>Destinatario:</th>
                <td>{{ peticion.destinatario}}</td>
            </tr>
            
            <tr>
                <th>Categoria:</th>
                <td>{{ categoria}}</td>
            </tr>
            <div>
                <strong>Imagen</strong>
                <img src="{{image}}" alt="Imagen de peticion">
            </div>
            <div>
                <button *ngIf="isSignedIn&&puedeFirmar" type="button" (click)="firma(peticion.id)" class="btn btn-danger mx-2">Firmar</button>
                <button *ngIf="isSignedIn" type="button" (click)="cambiarEstado(peticion.id)" class="btn btn-danger mx-2">Cambiar Estado</button>
            </div>
            
        </table>
    </div>
</div>
