<div class="container">
    <h1>View Peticion</h1>
  
    <a href="#" routerLink="/peticion/index" class="btn btn-primary">Back</a>
   
    <div>
        <strong>ID:</strong>
        <p>{{ peticion.id }}</p>
    </div>
    <div>
        <strong>Titulo:</strong>
        <p>{{ peticion.titulo }}</p>
    </div>
    <div>
        <strong>Descripcion:</strong>
        <p>{{ peticion.descripcion }}</p>
    </div>
    <div>
        <strong>Destinatario:</strong>
        <p>{{ peticion.destinatario }}</p>
    </div>
    <div>
        <strong>Firmantes:</strong>
        <p>{{ peticion.firmantes }}</p>
    </div>
    <div>
        <strong>Estado:</strong>
        <p>{{ peticion.estado }}</p>
    </div>
    <div>
        <strong>User_Id:</strong>
        <p>{{ peticion.user_id }}</p>
    </div>
    <div>
        <strong>Categoria_Id:</strong>
        <p>{{ peticion.categoria_id }}</p>
    </div>
    
   
</div>
