<div class="container">
    <h1>Update Peticion</h1>
   
    <a href="#" routerLink="/peticion/index" class="btn btn-primary">Back</a>
          
    <form [formGroup]="form" (ngSubmit)="submit()">
    
        <div class="form-group">
            <label for="titulo">titulo:</label>
            <input 
                formControlName="titulo"
                id="titulo" 
                type="text" 
                [(ngModel)]="peticion.titulo"
                class="form-control">
            <div *ngIf="f['titulo'].touched && f['titulo'].invalid" class="alert alert-danger">
                <div *ngIf="f['titulo'].errors && f['titulo'].errors['required']">titulo is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="descripcion">descripcion:</label>
            <input 
                formControlName="descripcion"
                id="descripcion" 
                type="text" 
                [(ngModel)]="peticion.descripcion"
                class="form-control">
            <div *ngIf="f['descripcion'].touched && f['descripcion'].invalid" class="alert alert-danger">
                <div *ngIf="f['descripcion'].errors && f['descripcion'].errors['required']">descripcion is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="destinatario">destinatario</label>
            <textarea 
                formControlName="destinatario"
                id="destinatario" 
                type="text" 
                [(ngModel)]="peticion.destinatario"
                class="form-control">
            </textarea>
            <div *ngIf="f['destinatario'].touched && f['destinatario'].invalid" class="alert alert-danger">
                <div *ngIf="f['destinatario'].errors && f['destinatario'].errors['required']">destinatario is required.</div>
            </div>
        </div>

        
           
       
        
        <div class="form-group">
            <label for="categoria">categoria</label>
            <textarea 
                formControlName="categoria"
                id="categoria" 
                type="number" 
                [(ngModel)]="peticion.categoria_id"
                class="form-control">
            </textarea>
            <div *ngIf="f['categoria'].touched && f['categoria'].invalid" class="alert alert-danger">
                <div *ngIf="f['categoria'].errors && f['categoria'].errors['required']">categoria_id is required.</div>
            </div>
        </div>

           
    
         
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Update</button>
    </form>
</div>
